<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Chapter 4</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://vuejs.org/js/vue.js"></script>
</head>
<body>
  <div id="app" class="container my-4 border p-4">
      <div class="row">
        <div class="col-md-10 m-auto">
          <h3>This is me: </h3>
          <ul class="list-group">
            <li v-for="(value, key, index) in me" class="list-group-item">
              <span v-if="Array.isArray(value)">
                {{ index }}: {{ key }} = {{ value.join(", ") }}
              </span>
              <span v-else>
                {{ index }}: {{ key }} = {{ value }}
              </span>
            </li>
          </ul>
        </div>
      </div>
  </div>
  <script src="script.js"></script>
</body>
</html>